/*Associação pelo NOME DO ELEMENTO*/
h1
{
    color: purple;
}
p
{
    font-size: 25px;
}

/*Associação pelo ID DO ELEMENTO*/
#tit_1
{
    font-size: 40px;
}

/*Associação pela CLASSE ELEMENTO*/
.noticias
{
    font-family: Arial, Helvetica, sans-serif;
}
p, h1
{
    background-color: lightgray;
}

.destaque
{
    color: blue;
}

table
{
    width: 100%;
}
table caption
{
    font-weight: bolder;
    font-size: 30px;
}
th
{
    background-color: gray;
    color: white
}
td
{
    background-color: azure;
}

#conteudo
{
    width: 70%;
    background-color: blanchedalmond;
    float: left;
}
#menu_contexto
{
    width: 30%;
    background-color: lightblue;
    float: left;
}
#rodape
{
    clear: both;
}